.OrderBlock-wrapper {
    display: flex;
    flex-direction: column;
    border: 1px dotted #616161;
    padding: 8px;
}

.OrderItemListWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dotted #616161;
    margin-bottom: 6px;
    p {
        flex-grow: 2;
        padding: 0 6px;
        margin-bottom: 6px;
    }
    h3 {
        margin-bottom: 6px;
    }
} 