.Item-Card-Wrapper {
    display: flex;
    flex-direction: column;
    // max-width: 300px;
};
.Item-Card-Img-block {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    span {
        position: absolute;
        top: 5px;
        right: 5px;
        text-shadow: 0px 0px 2px #fff;
        font-size: 1.5rem;
    };
    img {
        width: 100%;
    };
};
.Item-Card-Text {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    h2 {
        font-size: 1.5rem;
        font-weight: 600;
        margin: 0;
        padding: 0;
    };
    p {
        font-size: .9rem;
        margin: 0;
        padding: 0;
    };
    span {
        font-size: 1.5rem;
        font-weight: 600;
    };
    // button {
    //     border: 2px solid #414141;
    //     color: #414141;
    //     background-color: #fff;
    //     text-align: center;
    //     padding: .5rem 1rem;
    //     font-size: 1rem;
    //     cursor: pointer;
    // };
    // button:hover {
    //     background-color: #7ad5f3;
    //     border: 2px solid #818181;
    //     color: #818181;
    // };
};

.Item-Details-Wrapper {
    width: 400px;
    background-color: white;
    margin: 2rem auto;
    .Item-Details-Close {
        display: flex;
        justify-content: flex-end;
    }
}

.Item-Details-Text {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    h2 {
        font-size: 1.5rem;
        font-weight: 600;
        margin: 0;
        padding: 0;
        text-align: center;
    };
    p {
        font-size: .9rem;
        margin: 0;
        padding: 0;
    };
    h3 {
        font-size: 1.5rem;
        font-weight: 600;
        margin: 0 0 0 auto;
        text-align: right;
    };
    // button {
    //     margin-top: 16px;
    //     padding: 8px;
    // }
}

// ItemCardList
.Item-Card-List-Wrapper {
    display: flex;
    width: calc(100% - 32px);
};
.Item-Card-List-Wrapper.disable{
    display: flex;
    background-color: rgba(0,0,0,.1);
}
.Item-Card-List-Img-block {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 30%;
    span {
        position: absolute;
        top: 5px;
        right: 5px;
        text-shadow: 0px 0px 2px #fff;
        font-size: 1.5rem;
    };
    img {
        width: 100%;
    };
};
.Item-Card-List-Text {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 8px;
    h2 {
        font-size: 1.5rem;
        font-weight: 600;
        margin: 0;
        padding: 0;
    };
    .Item-Card-List-span {
        display: flex;
        flex: 1;
        justify-content: space-between;
        align-items: center;
    }
    // button {
    //     border: 2px solid #414141;
    //     color: #414141;
    //     background-color: #fff;
    //     text-align: center;
    //     padding: .5rem 1rem;
    //     font-size: 1rem;
    //     cursor: pointer;
    // };
    // button:hover {
    //     background-color: #7ad5f3;
    //     border: 2px solid #818181;
    //     color: #818181;
    // };
}

// Item Edit
.ItemEdit-Wrapper {
    display: flex;
    justify-content: center;
    .inner-block {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center  ;
        padding: 10px 0;
        min-width: 300px;
        width: 95%;
    }
    .form-container{
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: center;
        width: 100%;
    }
}
.Item-Details-Edit-Wrapper {
    width: 400px;
    background-color: white;
    padding: 0 8px;
    .Item-Details-Close {
        display: flex;
        justify-content: flex-end;
    }
}

@media only screen and (max-width: 599px) {
    .Menu-Box-Item-Wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
    .Item-Card-Text {
        h2 {
            font-size: 1rem;
        };
    }
    .Item-Details-Wrapper {
        width: 100%;
    }
    .ItemEdit-Wrapper {
        display: flex;
        flex-direction: column-reverse;
    }
    .Item-Details-Edit-Wrapper {
        width: calc(100% - 16px);
    }
    .Item-Card-List-Wrapper {
        width: calc(100% - 8px);
    };
};