.Cart-Wrapper {
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}
.Cart-User-Info {
    display: flex;
    flex-direction: column;
}

.CartItemList-block {
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}
.CartItemList-img-block {
    flex-basis: 20%;
    & img {
        width: 100%;
    }
}
.CartItemList-desc-block {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
}
.CartItemList-price-block {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    .InputNumberWrapper {
        display: flex;
        flex-direction: row;
        .AddMinusIconWrapper {
            display: flex;
            flex-direction: column;
            width: 20%;
                svg {
                    height: 50%;
                }
        }
    }
}
.Cart-Added-Items {
    margin: 1.5rem 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}