.Menu-Box-Wrappe {
    display: flex;
    flex-direction: column;
    
}
.Menu-Box-title {
    display: flex;
    padding: 16px 0;
    align-content: center;
    align-items: center;
    border-bottom: 1px solid #818181;
    margin-bottom: 16px;
    h1 {
        flex: 1 1 30%;
        padding: 0;
        margin: 0;
        font-size: 2rem;
        font-weight: 600;
    }
    p {
        flex: 1 1 70%;
        padding: 0 0 0 26px;
        margin: 0;
        font-size: 1rem;
        text-align: left;
    }
}
.Menu-Box-Item-Wrapper {
    width: 100%;
    display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

.Item-Card-Wrapper {
    display: flex;
    flex-direction: column;
    // max-width: 300px;
};
.Item-Card-Img-block {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
        position: absolute;
        top: 5px;
        right: 5px;
    };
    img {
        width: 100%;
    };
};
.Item-Card-Text {
    display: flex;
    flex-direction: column;
    h2 {
        font-size: 1.5rem;
        font-weight: 600;
        margin: 0;
        padding: 0;
    };
    p {
        font-size: .9rem;
        margin: 0;
        padding: 0;
    };
    span {
        font-size: 1.5rem;
        font-weight: 600;
    };
    button {
        border: 2px solid #414141;
        color: #414141;
        background-color: #fff;
        text-align: center;
        padding: .5rem 1rem;
        font-size: 1rem;
    };
    button:hover {
        background-color: #7ad5f3;
        border: 2px solid #818181;
        color: #818181;
    };
};
@media only screen and (max-width: 599px) {
    .Menu-Box-Item-Wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
    .Item-Card-Text {
        h2 {
            font-size: 1rem;
        };
    }
};